/* Estilos para las preguntas */
.pregunta-label {
  font-size: 20px;
  color: black;
}

.pregunta-text {
  font-size: 18px;
  color: black;
}

/* Estilos para las opciones */
.opciones-list {
  list-style-type: none;
  padding: 0;
}

/* Estilos para los segmentos (contenedores de preguntas) */
.pregunta-segment {
  background-color: #cce5ff; /* Fondo azul claro */
  border: 1px solid #9933cc; /* Borde morado */
  margin: 10px 0;
  padding: 10px; /* Agregamos un poco de espacio para mostrar los botones */
}

/* Añade otros estilos según tus preferencias */

/* Estilos para los botones de agregar opción y eliminar opción */
.opcion-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.opcion-buttons button {
  background-color: #9933cc; /* Botón morado */
  color: white;
  margin-right: 5px;
}

.opcion-buttons button:last-child {
  margin-right: 0;
}
