.custom-modal {
    width: 40%; /* Ajusta el ancho según tus preferencias */
    margin: auto;
  }
  
  .custom-modal .header {
    background-color: #7babcf; /* Cambia el color de fondo del encabezado */
    color: #ad2e2e; /* Cambia el color del texto del encabezado */
  }
  
  .custom-modal .content {
    padding: 20px; /* Añade relleno al contenido */
  }
  
  .custom-modal .actions {
    text-align: center; /* Centra los botones en el pie del modal */
  }
}